.cache
.config
.dotnet
.local
.vscode-server
couchdb-docker
npm-mirror-env
toy-data
.bash_history
.bash_logout
.bashrc
.profile
.sudo_as_admin_successful
.wget-hsts
.gitconfig
packages
temp_packages
.parallel
app/__pycache__
npm-mirror/dbdata
.docker
data_pipeline/npm-mirror/dbdata
data_pipeline/packages
data_pipeline/npm-mirror/.env
